header{
	color:#B22400;
	font-family: 'Indie Flower', cursive;

}


#home{
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

body{

	background-image: url("black_ground-wallpaper-1920x1080.jpg");
	font-family: 'Indie Flower', cursive;


}

#directions{
	font-size: large;
}

.jumbotron{

}

footer{
	color:#B22400;
	font-family: 'Indie Flower', cursive;

}

.btn-group{
	margin: 20px;

}

#hint{
	

}

#replay{

}